<div class="relative flex space-x-6">
  <input class="h-20 w-full rounded-3xl border-2 border-dark text-2xl pl-4 placeholder-dark shadow-[inset_-8px_-8px_20px_#46464620] tracking-wide pointer-events-none" placeholder="{{placeholder}}" />
  <div class="absolute inset-y-0 right-0 flex items-center pr-4" (click)="randomize()">
    <!-- Example: A simple right arrow SVG icon -->
    <img ngSrc="assets/circular-arrow-svgrepo-com.svg" alt="Arrow Icon" class="h-6 w-6 cursor-pointer" height="800"
         width="800"/>
  </div>
</div>
